<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RemovableServices</key>
	<dict>
		<key>com.apple.AEServer</key>
		<true/>
		<key>com.apple.AppleFileServer</key>
		<true/>
		<key>com.apple.Dock.agent</key>
		<true/>
		<key>com.apple.Finder</key>
		<true/>
		<key>com.apple.FolderActionsDispatcher</key>
		<true/>
		<key>com.apple.Kerberos.kadmind</key>
		<true/>
		<key>com.apple.Kerberos.kdc</key>
		<true/>
		<key>com.apple.Kerberos.kpasswdd</key>
		<true/>
		<key>com.apple.ManagedClientAgent.enrollagent</key>
		<true/>
		<key>com.apple.ODSAgent</key>
		<true/>
		<key>com.apple.PasswordService</key>
		<true/>
		<key>com.apple.ReportCrash</key>
		<true/>
		<key>com.apple.ReportCrash.Root</key>
		<true/>
		<key>com.apple.ReportGPURestart</key>
		<true/>
		<key>com.apple.ScriptMenuApp</key>
		<true/>
		<key>com.apple.Siri.agent</key>
		<true/>
		<key>com.apple.atrun</key>
		<true/>
		<key>com.apple.bootpd</key>
		<true/>
		<key>com.apple.comsat</key>
		<true/>
		<key>com.apple.dnsextd</key>
		<true/>
		<key>com.apple.emlog</key>
		<true/>
		<key>com.apple.fingerd</key>
		<true/>
		<key>com.apple.ftp-proxy</key>
		<true/>
		<key>com.apple.ftpd</key>
		<true/>
		<key>com.apple.getty</key>
		<true/>
		<key>com.apple.kdumpd</key>
		<true/>
		<key>com.apple.listen_kdb</key>
		<true/>
		<key>com.apple.locate</key>
		<true/>
		<key>com.apple.lognoise</key>
		<true/>
		<key>com.apple.mdmclient.daemon.runatboot</key>
		<true/>
		<key>com.apple.mtmfs</key>
		<true/>
		<key>com.apple.netbiosd</key>
		<true/>
		<key>com.apple.nfsd</key>
		<true/>
		<key>com.apple.ntalkd</key>
		<true/>
		<key>com.apple.odproxyd</key>
		<true/>
		<key>com.apple.screensharing</key>
		<true/>
		<key>com.apple.security.FDERecoveryAgent</key>
		<true/>
		<key>com.apple.smbd</key>
		<true/>
		<key>com.apple.telnetd</key>
		<true/>
		<key>com.apple.tftpd</key>
		<true/>
		<key>com.apple.uucp</key>
		<true/>
		<key>com.apple.webcontentfilter.dns</key>
		<true/>
		<key>com.apple.webcontentfilter.proxy</key>
		<true/>
		<key>com.apple.xsan</key>
		<true/>
		<key>com.apple.xsandaily</key>
		<true/>
		<key>com.apple.xscertadmin</key>
		<true/>
		<key>com.apple.xscertd</key>
		<true/>
		<key>com.apple.xscertd-helper</key>
		<true/>
		<key>com.openssh.sshd</key>
		<true/>
		<key>org.apache.httpd</key>
		<true/>
		<key>org.cups.cups-lpd</key>
		<true/>
		<key>org.cups.cupsd</key>
		<true/>
		<key>org.net-snmp.snmpd</key>
		<true/>
		<key>org.ntp.ntpd</key>
		<true/>
		<key>org.openldap.slapd</key>
		<true/>
		<key>org.postfix.master</key>
		<true/>

<!-- Agents  -->
		<key>com.apple.apsd</key>
		<true/>
		<key>com.apple.AirPlayXPCHelper</key>
        <true/>
		<key>com.apple.appleseed.fbahelperd</key>
        <true/>
		<key>com.apple.awacsd</key>
        <true/>
		<key>com.apple.awdd</key>
        <true/>
        <key>com.apple.assistantd</key>
        <true/>
		<key>com.apple.CrashReporterSupportHelper</key>
        <true/>
		<key>com.apple.CloudPhotosConfiguration</key>
        <true/>
        <key>org.cups.cupsd</key>
        <true/>
        <key>com.apple.corespeechd</key>
        <true/>
		<key>com.apple.familycontrols</key>
        <true/>
		<key>com.apple.findmymac</key>
        <true/>
		<key>com.apple.findmymacmessenger</key> 
        <true/>
        <key>com.apple.GameController.gamecontrollerd</key>
        <true/>
        <key>com.apple.geod</key>
        <true/>
		<key>com.apple.icloud.findmydeviced</key>
        <true/>
		<key>com.apple.keyboardservicesd</key>
        <true/>
        <key>com.apple.locationd</key>
        <true/>
        <key>com.apple.Maps.mapspushd</key>
        <true/>
        <key>com.apple.netbiosd</key>
        <true/>
        <key>com.apple.photolibraryd</key>
        <true/>
        <key>com.apple.passd</key>
        <true/>
        <key>com.apple.remotepairtool</key>
        <true/>
        <key>com.apple.rapportd</key>
        <true/>
        <key>com.apple.rpmuxd</key>
        <true/>
        <key>com.apple.screensharing</key>
        <true/>
        <key>com.apple.SubmitDiagInfo</key>
        <true/>
        <key>com.apple.SafariBookmarksSyncAgent</key>
        <true/>
        <key>com.apple.speech.speechsynthesisd</key>
        <true/>
        <key>com.apple.studentd</key>
        <true/>
        <key>com.apple.macos.studentd</key>
        <true/>
        <key>com.apple.sharingd</key>
        <true/>


<!-- Daemons  -->
        <key>com.apple.AirPlayUIAgent</key>
        <true/>
        <key>com.apple.appleseed.seedusaged</key>
        <true/>
        <key>com.apple.assistant_service</key>
        <true/>
        <key>com.apple.CallHistoryPluginHelper</key>
        <true/>
        <key>com.apple.CallHistorySyncHelper</key>
        <true/>
        <key>com.apple.cloudfamilyrestrictionsd-mac</key>
        <true/>
        <key>com.apple.cloudphotosd</key>
        <true/>
        <key>com.apple.DictationIM</key>
        <true/>
        <key>com.apple.familycircled</key>
        <true/>
        <key>com.apple.familycontrols.useragent</key>
        <true/>
        <key>com.apple.familynotificationd</key>
        <true/>
        <key>com.apple.gamed</key>
        <true/>
        <key>com.apple.geodMachServiceBridge</key>
        <true/>
        <key>com.apple.icloud.findmydeviced.findmydevice-user-agent</key>
        <true/>
        <key>com.apple.icloud.fmfd</key>
        <true/>
        <key>com.apple.iCloudUserNotifications</key>
        <true/>
        <key>com.apple.imagent</key>
        <true/>
        <key>com.apple.identityservicesd</key>
        <true/>
        <key>com.apple.keyboardservicesd</key>
        <true/>
        <key>com.apple.parentalcontrols.check</key>
        <true/>
        <key>com.apple.parsecd</key>
        <true/>
        <key>com.apple.photoanalysisd</key>
        <true/>
        <key>com.apple.rtcreportingd</key>
        <true/>
        <key>com.apple.SafariCloudHistoryPushAgent</key>
        <true/>
        <key>com.apple.safaridavclient</key>
        <true/>
        <key>com.apple.SafariNotificationAgent</key>
        <true/>
        <key>com.apple.soagent</key>
        <true/>
        <key>com.apple.SafariHistoryServiceAgent</key>
        <true/>
        <key>com.apple.SafariBookmarksSyncAgent</key>
        <true/>
        <key>com.apple.telephonyutilities.callservicesd</key>
        <true/>
	</dict>
</dict>
</plist>
